In [3]:
import t_connect
import pandas as pd

In [2]:
db = t_connect.SessionLocal()
engine = t_connect.engine

,event_id,entity_id,event_ts,event_name,payload,customer_id,customer_id2,price_event,city
0,e4375b32,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,76ae8233,94ba147e,60,"Madrid, Spain"
1,32e3a9fe,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,ab4afad1,a8e00fa8,60,"Madrid, Spain"
2,11cde1df,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,adc191a6,80a7a207,60,"Madrid, Spain"
3,1ddde0b4,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,0e4f72f2,114db53d,60,"Madrid, Spain"
4,9f9b52e6,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,15ae9ac7,79489de3,60,"Madrid, Spain"
...,...,...,...,...,...,...,...,...,...
715,cdf2ac35,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,23b01d07,13e9a3ab,200,"Barcelona, Spain"
716,1206a95e,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,402defd3,dc161f95,200,"Barcelona, Spain"
717,7519057e,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,0f58766b,e6720a59,200,"Barcelona, Spain"
718,bc2e5285,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,97c55b40,94bd64e3,200,"Barcelona, Spain"
719,613eb542,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,9558385a,b3a28585,200,"Barcelona, Spain"