In [15]:
import database
import pandas as pd

In [17]:
from sqlalchemy.orm import Session
from sqlalchemy.orm import joinedload
from datetime import date

import models

def get_player(db: Session, player_id: int):
    return db.query(models.Player).filter(
        models.Player.player_id == player_id).all()

        # all() --> list
        # first() --> single object

def get_leagues(db: Session, skip: int = 0, limit: int = 100,
                 min_last_changed_date: date = None,league_name: str = None):
    query = db.query(models.League
                    ).options(joinedload(models.League.teams))
    if min_last_changed_date:
        query = query.filter(
            models.League.last_changed_date >= min_last_changed_date)                              
    if league_name: 
        query = query.filter(models.League.league_name == league_name)     
    return query.offset(skip).limit(limit).all()

In [4]:
db = database.SessionLocal()

In [6]:
# a=get_player(database.SessionLocal(),1012)
# a

# que = db.query(models.get_teams).filter(models.Player.position == "QB").all()

que = db.query(models.Team)

In [9]:
dir(que[0])

['__abstract__',
 '__annotate_func__',
 '__annotations_cache__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mapper__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__table__',
 '__tablename__',
 '__weakref__',
 '_sa_class_manager',
 '_sa_instance_state',
 '_sa_registry',
 'last_changed_date',
 'league',
 'league_id',
 'metadata',
 'players',
 'registry',
 'team_id',
 'team_name']

In [14]:
a = que.offset(0).limit(10).all()

In [20]:
a[0].team_name

'Roaring Kitties'

In [83]:
b = get_leagues(db)

In [89]:
len(b)

5

In [95]:
# dir(b[4])
b[4].teams

[]

In [25]:
# config/database.py
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, declarative_base
from sqlalchemy.ext.declarative import declarative_base
import os
from sqlalchemy.sql import text
import psycopg2
# from dotenv import load_dotenv

# load_dotenv()  # Load environment variables

# PostgreSQL connection URL format:
# postgresql://username:password@host:port/database

# SQLALCHEMY_DATABASE_URL = os.getenv(
#     "DATABASE_URL", 
#     "postgresql://postgres:root@localhost:5432/traveltech"
# # )

SQLALCHEMY_DATABASE_URL = os.getenv(
    "DATABASE_URL", 
    "postgresql://postgres:root@localhost:5432/traveltech?options=-csearch_path%3Dtravel"
)
# Create engine with PostgreSQL-specific optimizations
engine = create_engine(
    SQLALCHEMY_DATABASE_URL,
    pool_size=20,                    # Connection pool size
    max_overflow=30,                 # Max overflow connections
    pool_pre_ping=True,              # Verify connections before using
    echo=False,                      # Set to True for SQL debugging
    echo_pool=False,                 # Log connection pool events
    future=True                      # Use SQLAlchemy 2.0 style
)

SessionLocal = sessionmaker(
    autocommit=False,
    autoflush=False,
    bind=engine,
    expire_on_commit=False  # Better control over object expiration
)

Base = declarative_base()

# Dependency to get DB session (for FastAPI/async)
def get_db():
    """
    Database session dependency.
    Use in FastAPI: db: Session = Depends(get_db)
    """
    db = database.SessionLocal()
    try:
        yield db
    finally:
        db.close()

# # Async version (if using async)
# from sqlalchemy.ext.asyncio import create_async_engine, AsyncSession, async_sessionmaker

# ASYNC_DATABASE_URL = SQLALCHEMY_DATABASE_URL.replace(
#     "postgresql://", "postgresql+asyncpg://"
# )

# async_engine = create_async_engine(
#     ASYNC_DATABASE_URL,
#     echo=False,
#     pool_size=10,
#     max_overflow=20,
#     pool_pre_ping=True
# )

# AsyncSessionLocal = async_sessionmaker(
#     async_engine,
#     class_=AsyncSession,
#     expire_on_commit=False
# )

# async def get_async_db():
#     async with AsyncSessionLocal() as session:
#         yield session

/tmp/ipykernel_58549/124881537.py:42: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [27]:
db = get_db()
dir(db)

['__class__',
 '__class_getitem__',
 '__del__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__name__',
 '__ne__',
 '__new__',
 '__next__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'gi_code',
 'gi_frame',
 'gi_running',
 'gi_suspended',
 'gi_yieldfrom',
 'send',
 'throw']

In [30]:
db.query(User).get(1)

NameError: name 'User' is not defined

In [29]:
db.query(models.Team)

In [28]:
db = SessionLocal()
db.execute(text('SET search_path TO travel'))
# db.execute(text('show search_path'))

In [5]:
with engine.connect() as conn:
    conn.detach()
    conn.execute(text("SET search_path TO travel"))

    # work with connection

# connection is fully closed (since we used "with:", can
# also call .close())

In [15]:
import pandas as pd
pd.read_sql_query('select * from events ', engine)

,event_id,entity_id,event_ts,event_name,payload,customer_id,customer_id2,price_event,city
0,e4375b32,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,76ae8233,94ba147e,60,"Madrid, Spain"
1,32e3a9fe,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,ab4afad1,a8e00fa8,60,"Madrid, Spain"
2,11cde1df,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,adc191a6,80a7a207,60,"Madrid, Spain"
3,1ddde0b4,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,0e4f72f2,114db53d,60,"Madrid, Spain"
4,9f9b52e6,EVT001,2026-08-28 00:00:00+02:00,Mad Cool,60-90 EUR,15ae9ac7,79489de3,60,"Madrid, Spain"
...,...,...,...,...,...,...,...,...,...
715,cdf2ac35,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,23b01d07,13e9a3ab,200,"Barcelona, Spain"
716,1206a95e,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,402defd3,dc161f95,200,"Barcelona, Spain"
717,7519057e,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,0f58766b,e6720a59,200,"Barcelona, Spain"
718,bc2e5285,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,97c55b40,94bd64e3,200,"Barcelona, Spain"
719,613eb542,EVT010,2026-10-07 00:00:00+02:00,BCN Tour and Flavors,200-400 EUR,9558385a,b3a28585,200,"Barcelona, Spain"

In [1]:
import query

In [3]:
query.Booking.revenue('CONFIRMED')
query.Booking.revenue_by_status()
query.Booking.occupancy_rate()
query.Booking.revenue_performance('CONFIRMED')

"\n            WITH daily_revenue AS (\n            SELECT \n                b.hotel_id,\n                COUNT(b.booking_id) as daily_bookings,\n                SUM(b.total_amount) as total_amount,\n                AVG(b.total_amount) as avg_amount\n            FROM travel.bookings b\n            WHERE b.status = CONFIRMED\n            GROUP BY b.hotel_id\n                ),\n                hotel_summary AS (\n                    SELECT \n                        h.hotel_id,\n                        h.name,\n                        h.city,\n                        h.stars\n                    FROM travel.hotels h\n                    GROUP BY h.hotel_id, h.name, h.city, h.stars\n                ),\n                ranked_hotels AS (\n                    SELECT *,\n                        ROW_NUMBER() OVER (ORDER BY total_amount DESC) as revenue_rank,\n                        percent_rank() OVER (ORDER BY total_amount) as revenue_p\n                    FROM hotel_summary h\n                    left join daily_revenue dr ON h.hotel_id = dr.hotel_id\n                )\n                SELECT *,\n                    CASE \n                        WHEN revenue_p >= 0.8 THEN 'TOP_20%'\n                        WHEN revenue_p >= 0.5 THEN 'MIDDLE_50%'\n                        ELSE 'BOTTOM_30%'\n                    END as revenue_segment\n                FROM ranked_hotels\n                ORDER BY revenue_rank\n        "

In [4]:
query.Booking.revenue('CONFIRMED')

"\n        SELECT h.hotel_id, h.name, h.city, h.country,\n            COUNT(DISTINCT b.booking_id) as total_bookings,\n            COUNT(DISTINCT b.customer_id) as unique_customers,\n            SUM(b.total_amount) as total_revenue_eur,\n            AVG(b.total_amount) as avg_booking_value_eur,\n        FROM travel.hotels h\n        LEFT JOIN travel.bookings b ON h.hotel_id = b.hotel_id\n            AND b.status = 'CONFIRMED'\n            and b.booking_type = 'HOTEL'\n        GROUP BY h.hotel_id, h.name, h.city, h.country\n        ORDER BY total_revenue_eur DESC\n        "