In [64]:
import connect
import pandas as pd
import query
import pandas.io.sql as psql

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [65]:
conn = connect.get_connection()

✅ Conection granted with psycopg2

In [66]:
# BOOKING QUERIES

qb_r = query.Booking.revenue("CONFIRMED")
qb_rs = query.Booking.revenue_by_status()
qb_or = query.Booking.occupancy_rate()
qb_rp = query.Booking.revenue_performance('CONFIRMED')
qb_op = query.Booking.optimized_revenue()

In [67]:
# FLIGHT QUERIES

qf_o = query.Flights.flights_overview()
qf_p = query.Flights.flight_prices()
qf_fp = query.Flights.flight_popularity()
qf_fi = query.Flights.flight_inventory()

In [68]:
# PAYMENT QUERIES

qp_c = query.Payments.customer_payments()
qp_o = query.Payments.payments_overview()

In [69]:
# CUSTOMER QUERIES

qc_o = query.Customers.customer_hotel_preferences()
qc_cf = query.Customers.customer_flight_preferences()
qc_fc =query.Customers.customer_class_flight()

In [70]:
# EVENTS QUERIES
qe_e = query.Events.events()

In [71]:
def execute_query_to_dataframe(query, params=None):
    conn = None
    try:
        conn = connect.get_connection()
        df = psql.read_sql_query(query, conn, params=params)
        print(f"""\n✅ Query executed. {len(df)} filas obtenidas""")
        return df
        
    except Exception as e:
        print(f"❌ Query error: {e}")
        raise

In [72]:
bulk = {'booking_items':qb_r,
    'booking_revenue_status':qb_rs,
    'booking_occupancy_rate':qb_or,
    'revenue_performance':qb_rp,
    'optimized_revenue':qb_op,
    'flight_overview':qf_o,
    'flight_prices':qf_p,
    'flight_popularity':qf_fp,
    'flight_inventory':qf_fi,
    'customer_payments':qp_c,
    'payments_overview':qp_o,
    'customer_hotel_preferences':qc_o,
    'customer_flight_preferences':qc_cf,
    'customer_flight_class':qc_fc,
    'events':qe_e
    }

In [73]:
for i in bulk.items():
    print(f"Ejecutando consulta: {i[0]}")
    # df = execute_query_to_dataframe(bulk[i])
    # print(df.head())

Ejecutando consulta: booking_items
Ejecutando consulta: booking_revenue_status
Ejecutando consulta: booking_occupancy_rate
Ejecutando consulta: revenue_performance
Ejecutando consulta: optimized_revenue
Ejecutando consulta: flight_overview
Ejecutando consulta: flight_prices
Ejecutando consulta: flight_popularity
Ejecutando consulta: flight_inventory
Ejecutando consulta: customer_payments
Ejecutando consulta: payments_overview
Ejecutando consulta: customer_hotel_preferences
Ejecutando consulta: customer_flight_preferences
Ejecutando consulta: customer_flight_class
Ejecutando consulta: events

In [74]:
path = '/home/dani/API/api-book-part-one/bulk/travel/'
for i in bulk.items():
    print(f"Ejecutando consulta: {i[0]}")
    
    tt = pd.DataFrame()
    tt = execute_query_to_dataframe(i[1])
    tt.to_csv(path+i[0]+'_data.csv', index=False)
    tt.to_parquet(path+i[0]+'_data.parquet.gzip')

Ejecutando consulta: booking_items
✅ Conection granted with psycopg2

✅ Query executed. 8 filas obtenidas
Ejecutando consulta: booking_revenue_status
✅ Conection granted with psycopg2

✅ Query executed. 32 filas obtenidas
Ejecutando consulta: booking_occupancy_rate
✅ Conection granted with psycopg2

✅ Query executed. 438 filas obtenidas
Ejecutando consulta: revenue_performance
✅ Conection granted with psycopg2

✅ Query executed. 8 filas obtenidas
Ejecutando consulta: optimized_revenue
✅ Conection granted with psycopg2

✅ Query executed. 3520 filas obtenidas
Ejecutando consulta: flight_overview

/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)

✅ Conection granted with psycopg2

✅ Query executed. 56 filas obtenidas
Ejecutando consulta: flight_prices
✅ Conection granted with psycopg2

✅ Query executed. 8 filas obtenidas
Ejecutando consulta: flight_popularity
✅ Conection granted with psycopg2

✅ Query executed. 16 filas obtenidas
Ejecutando consulta: flight_inventory
✅ Conection granted with psycopg2

✅ Query executed. 576 filas obtenidas
Ejecutando consulta: customer_payments
✅ Conection granted with psycopg2

✅ Query executed. 109 filas obtenidas
Ejecutando consulta: payments_overview
✅ Conection granted with psycopg2

✅ Query executed. 412 filas obtenidas

/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)

Ejecutando consulta: customer_hotel_preferences
✅ Conection granted with psycopg2

✅ Query executed. 110 filas obtenidas
Ejecutando consulta: customer_flight_preferences
✅ Conection granted with psycopg2

✅ Query executed. 496 filas obtenidas
Ejecutando consulta: customer_flight_class
✅ Conection granted with psycopg2

✅ Query executed. 545 filas obtenidas
Ejecutando consulta: events
✅ Conection granted with psycopg2

✅ Query executed. 10 filas obtenidas

/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)
/tmp/ipykernel_12789/763886089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql_query(query, conn, params=params)

In [75]:
tt

,event_name,city,customers_assistance,average_price,total_revenue
0,Hamilton Broadway,"New York, USA",82,2000.0,164000
1,Madrid Open Tennis,"Madrid, Spain",66,800.0,52800
2,Dubai Tour,"Dubai, UAE",73,450.0,32850
3,BCN Tour and Flavors,"Barcelona, Spain",70,200.0,14000
4,Paris Fashion Week,"Paris, France",70,180.0,12600
5,Coldplay Concert,"Barcelona, Spain",70,200.0,14000
6,London Pass,"London, UK",81,400.0,32400
7,Dubai Shopping Festival,"Dubai, UAE",67,1500.0,100500
8,Mad Cool,"Madrid, Spain",59,60.0,3540
9,Oktoberfest Palma,"Palma, Spain",82,100.0,8200